*{
  margin:0;
}

.app{
  background-color: rgb(241, 241, 241);
  height:100%;
}

.App-logo{
  width:25%;
}
.app__header{
  background-color: white;
  padding: 5px;
  border-bottom: 1px solid lightgray; 
  object-fit: contain;
  
}

.makeStyles-paper-1 {
  width: 213px;
}

.app__signup{
display: flex;
flex-direction: column;
padding-left: 25%;
width: 50%;
}



